<div class="home-banner eight right">
	<div class="home-banner-wrap">
	 <div class="delivery two columns">
	   Free Delivery* <span>No minimum spend</span>
	 </div>
	 <div class="returns two columns">
	   Easy Returns <span>Within 30 days</span>
	 </div>
	</div>
</div>