<div class="{% if pagination %}twelve{% else %}sixteen{% endif %} columns">
  <div class="section clearfix">    
    {% if paginate.pages > 1 %}  
      <div class="paginate">
        {{ paginate | default_pagination }}
      </div>  
    {% endif %}
  </div>
</div>