<div class="sixteen columns clearfix page-title collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page page-content">
    {{ page.content }}
</div>